body {
    background-color: white;
}

.navbar-custom .nav li a {
    color:black;
}

.navbar-custom {
    background-color: #eeeeee;
    border-color: transparent;
}

.navbar .dropdown ul{
    background-color: #eeeeee;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fed136;
    background-color: #eeeeee;
}

.connexion {
    margin-bottom: 5%;
}

.formulaire {
    border: solid 1px #cecece;
}

.formulaire .input {
    width:80%;
    margin: 5% auto;
}

button {
    background: #fed136;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    border: none;
    color: #FFF;
    font-size: 12px;
    margin-bottom: 5%;
}

@media (min-width: 768px) {
    .navbar-custom {
        padding: 0;
    }
}
